<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let character of characters">
          <mat-card class="example-card">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>{{character.name}}</mat-card-title>
              <mat-card-subtitle>{{character.status}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{character.image}}" alt="">
            <mat-card-content>
              <p>
                {{character.location.name}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      <!-- <ul class="character-list">
        <li *ngFor="let character of characters" class="character-list-item">
          <div class="md-4 character-card">
            <mat-card class="example-card">
              <mat-card-header>
                <! -- <div mat-card-avatar class="example-header-image"></div> -- >
                <mat-card-title>{{character.name}}</mat-card-title>
                <mat-card-subtitle>{{character.status}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="{{character.image}}" alt="">
              <mat-card-content>
                <p>
                  {{character.location.name}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </li>
      </ul> -->
    </div>
  </div>
</div>
